<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>add</title>-->
<!--<link rel="stylesheet" href="../frame/bootstrap-3.3.7/bootstrap.css">-->
<!--<link rel="stylesheet" href="../css/app.css">-->

<!--<script src="../frame/jquery-3.3.1.js"></script>-->
<!--<script src="../frame/bootstrap-3.3.7/bootstrap.js"></script>-->
<!--</head>-->

<!--<body class="background-gray">-->

<div class="content-margin-padding">
    <form name="playerForm" class="form-horizontal" role="form" novalidate autocomplete="off">
        <fieldset>
            <legend>新增球员信息</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入姓名" required
                           name="name" ng-model="player.name"/>
                    <span class="text-danger" ng-show="playerForm.name.$touched && playerForm.name.$invalid">
                            必须填写球员姓名
                        </span>
                    <span class="text-danger" ng-show="isExisted()">
                            该球员已存在
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">号码</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入号码"
                           name="num" ng-model="player.num" required val-player-num/>
                    <span class="text-danger" ng-show="playerForm.num.$touched && playerForm.num.$invalid">
                            <span ng-show="playerForm.num.$error.required">必须填写球员号码</span>
                            <span ng-show="playerForm.num.$error.playerNum">号码必须是0-99之间的整数</span>
                        </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">位置</label>
                <div class="col-sm-9">
                    <select class="form-control" name="position" ng-model="player.position" required>
                        <option value="" style="display: none">请选择球员位置</option>
                        <option ng-repeat="pos in positions" value="{{pos.val}}">{{pos.txt}}</option>
                    </select>
                    <span class="text-danger" ng-show="playerForm.position.$touched && playerForm.position.$invalid">
                            请选择球员位置
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">球队</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入国家队如：葡萄牙"
                           name="num" ng-model="player.team"/>
                    <span class="text-danger" ng-if="player.team == null">请输入国家队名称</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">进球</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入进球数"
                           name="num" ng-model="player.score"/>
                    <span class="text-danger" ng-if="player.score == null">请输入进球数</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">头像</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入http链接"
                           name="thumb" ng-model="player.imgUrl" required="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <input type="submit" value="保存" class="btn btn-primary"
                           ng-click="submitForm()" ng-disabled="playerForm.$invalid">
                    <a href="#/player/list" class="btn btn-default">取消</a>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="alert" ng-class="{'alert-success':addSuccess == true,
            'alert-warning':addSuccess != true}" ng-show="addFinished">
        <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
        <span>添加{{addSuccess ? '成功':'失败'}}！</span>
    </div>
</div>

<!--</body>-->
<!--<script src="../frame/angular-1.7.0/angular.js"></script>-->
<!--<script src="../frame/angular-1.7.0/angular-route.js"></script>-->
<!--<script src="../frame/angular-1.7.0/angular-animate.js"></script>-->

<!--<script src="../js/app.js"></script>-->
<!--<script src="../js/service/fifaServices.js"></script>-->
<!--<script src="../js/filter/fifaFilters.js"></script>-->
<!--<script src="../js/directive/fifaDirectives.js"></script>-->
<!--<script src="../js/controller/fifaControllers.js"></script>-->
<!--</html>-->